<div class="divider">     </div>
<div class="section">

    <div class="row">
        <div class="col s12 m8">
            <form action="@Url.Action("Contact", "Home")" id="contactform" method="post">
                <h2 class="header center orange-text">Contact Form</h2>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" name="name" type="text" class="validate" required="" aria-required="true">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate" required="" aria-required="true">
                    <label for="email">Email</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">message</i>
                    <input id="message" name="message" type="text" class="validate" required="" aria-required="true">
                    <label for="message">Message</label>
                </div>
                <div class="input-field col s12">
                    <p class=" left-align">
                        <button class="btn btn-large waves-effect waves-light blue" type="submit" name="action">Send Now</button>
                    </p>
                </div>

            </form>

        </div>
        <div class="col s12 m4 ">
            <div class="card blue-grey accent-4 left-align">
                <div class="card-content">
                    <h6 class="white-text">
                        <i class="material-icons center-align">home</i> Whitby Porirua
                        New Zealand 5024
                    </h6>
                </div>
                <div class="card-content">
                    <h6 class="white-text">
                        <i class="material-icons center-align">local_phone</i> <a class="white-text" href="tel:+64-210-247-0610">+642102470610</a>
                    </h6>
                </div>
                <div class="card-content">
                    <h6 class="white-text">
                        <i class="material-icons center-align">email</i> <a class="white-text" href="mailto:enquiries@1solvesolutions.co.nz">enquiries@1solvesolutions.co.nz</a>
                    </h6>
                </div>
                <div class="card-content white-text">
                    <a href="http://www.facebook.com/1solvesolutions/" class="waves-effect blue social-icon btn-large facebook" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="http://www.instagram.com/1solvesolutions/" class="waves-effect blue social-icon btn-large instagram" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="http://www.linkedin.com/company/1solvesolutions/" class="waves-effect blue social-icon btn-large linkedin" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    
</div>