<div class="col s12">
    <div class="section scrollspy">

        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">filter_1</i> Step 1 - Project Assessment and Preparation</span>
                <p>
                    Talk to us today about a project you have in mind or any project you want us to handle. Give us all the details of the project. List all the tools you are using and and how you use it.
                </p>
                <p>To better assess the project we will ask for:</p>

                <table class="responsive-table highlight striped">

                    <tbody>
                        <tr>
                            <td><i class="material-icons">book</i>Project background or documentations.</td>
                            <td><i class="material-icons">description</i>Scripts that you use for every kind of inquiry.</td>
                            <td><i class="material-icons">info</i>Database / CRM you are using.</td>
                            <td><i class="material-icons">phone_callback</i>If there are any existing call recordings.</td>
                        </tr>
                        <tr>

                            <td><i class="material-icons">settings_applications</i>Technical Documentation supporting the products or services.</td>
                            <td><i class="material-icons">people</i>Let us also know the types of clients you have</td>
                            <td><i class="material-icons">watch_later</i>Hours of work.</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="divider">     </div>
        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">filter_2</i> Step 2 - Solutions and Planning</span>
                <p>
                    We will come up with a plan and relay to you what will be our steps.
                    Our leaders will also make high level internet research about the individuals or company on the type of customers you provide services so we can adjust the scripts if needed.
                    Review the draft scripts for certain kinds of inquiry or questions and consult to you if you agree or not to the modifications.
                </p>

            </div>

        </div>
        <div class="divider">     </div>
        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title center-align"><i class="material-icons center-align">filter_3</i> Step 3 - Transition and Training</span>
                <p>
                    We will be pulling out one of our experienced customer service agent in one of our projects and brief her regarding our goals for the trial.
                    Give her time to read and study your products or services.
                    Rehearse the script with our team leaders and make some final adjustments if necessary.
                    We will also make sure that it is appropriate to your products or services.
                </p>

            </div>

        </div>
        <div class="divider">     </div>
    </div>
</div>
<div class="col s12">
    <div class="card-panel hoverable">
        <div class="card-content">
            <span class="card-title">
                <i class="material-icons center-align">filter_4</i> Step 4 - 16 hours <strong>FREE</strong> service trial
            </span>
            <p>
                <strong>This is a completely no contract, no payments, no obligation no commitment basis. You can simply say no and walk away if after the trial you are unhappy with the results</strong>
            </p>
            <div class="row">


                <div class="card col s12 blue-grey darken-1 hoverable white-text">
                    <h4>First Day</h4>
                    <p>
                        <i class="material-icons">phone_in_talk</i>The agent will be on stand-by mode; waiting for inbound calls and have a feel about the market while being closely monitored by our senior and technical leads
                    </p>
                    <p>
                        <i class="material-icons">description</i>Adjust the script if needed.
                    </p>
                    <p>

                        <i class="material-icons">list</i>Continue on stand-by mode and ready to answer customer's calls.
                    </p>
                    <p>
                        <i class="material-icons">record_voice_over</i>Record conversations for us to review.
                    </p>
                    <p>
                        <i class="material-icons">save</i>Generate a report on how the list is going. Number of calls, call abandonment, number of answered calls, call arrival rate, sales, repeat calls, call completion rate etc..etc..
                    <p>
                </div>


                <div class="card col s12 blue-grey hoverable white-text">
                    <h4>Second Day</h4>
                    <p>
                        <i class="material-icons">input</i>The agent and technical leads will be reviewing the reports from the first day
                    </p>
                    <p>
                        <i class="material-icons">description</i>See if there are any aspects from our strategy to improve our service.
                    </p>
                    <p>
                        <i class="material-icons">description</i>Adjust the script if needed.
                    </p>
                    <p>
                        <i class="material-icons">record_voice_over</i>Record conversations for us to review.
                    </p>
                    <p>
                        <i class="material-icons">save</i>Generate a final report on how the list is going. Number of calls, call abandonment, number of answered calls, call arrival rate, sales, repeat calls, call completion rate etc..etc..
                    <p>
                </div>


                <div class="card col s12 blue-grey hoverable white-text">
                    <h4>Third Day</h4>
                    <p>
                        <i class="material-icons">info</i>Let us take some time and see the results of the service trial
                    </p>
                    <p>
                        <i class="material-icons">description</i>Provide you any adjustment from the scripts that we did.
                    </p>
                    <p>

                        <i class="material-icons">record_voice_over</i>Provide you with the call recordings and summary of the report
                    </p>
                    <p>
                        <i class="material-icons">history</i>Provide you about our observation of the calls.
                    </p>
                    <p>
                        <i class="material-icons">tag_faces</i>You can decide if this service is better to pass on to us or create a team of your own
                    <p>
                </div>

            </div>
        </div>

    </div>

</div>


<div class="col s12">
    <div class="card-panel hoverable">
        <div class="card-content">
            <span class="card-title">
                <i class="material-icons center-align">filter_5</i> Step 5 - Only when you are <strong>happy</strong> with the results
            </span>
            <p>
                <strong>Contract Signing</strong>
            </p>
        </div>

        <div class="collection">
            <a class="collection-item">Contracts</a>
            <a class="collection-item">SLA</a>
            <a class="collection-item">Term and Conditions</a>
            <a class="collection-item">Optimise process with the right combination of technologies and action plans</a>
        </div>

    </div>
</div>
    <div class="divider">     </div>

    <div class="col s12">
        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">filter_6</i> Step 6 - Evaluation and Monitoring</span>
                <p>
                    Determine KPIs, reports and other metrics, per agent to monitor the process is working as agreed.

                    Schedule, daily, weekly, monthly and quarterly review with the client.
                </p>
            </div>

        </div>
    </div>

    <div class="col s12">
        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">filter_7</i> Step 7 - Recruitment and Training</span>
                <div class="collection">
                    <a class="collection-item">We will be hiring experienced agents and this will take 1 week and another 1-3 days for training</a>
                    <a class="collection-item">We will be hiring experienced agents (1 week maximum duration)</a>
                </div>

            </div>

        </div>
    </div>
    <div class="col s12">
        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">filter_8</i> Step 8 - Full operations and service assumptions</span>
                <p>We will be assuming all operations and services. We will be reporting all activities as per the scheduled review.</p>
            </div>

        </div>
    </div>
    <div class="col s12">
        <div class="card-panel hoverable">
            <div class="card-content black-text">
                <span class="card-title"><i class="material-icons center-align">filter_9</i> Step 9 - Payments</span>
                <p>
                    Invoice are issued monthly and currency is New Zealand dollars. There will be a two months advance for the service and one month for security deposit. Payments are transfered to a Philippines account via internet banking. Service agreement apply.
                </p>
            </div>

        </div>
    </div>

