<div class="section">
    <div class="row col s12">
        <h1 class="header center orange-text">INBOUND CAMPAIGNS - How it works?</h1>
        <div class="center">
            <h5 class="header light"> $14 NZD PER HOUR-PER AGENT</h5>

            <p> <strong>DAILY $112 ONLY! | WEEKLY $560 ONLY! | MONTHLY $2,426.67! | ANNUALLY $29,120 ONLY! PER AGENT</strong></p>

            <p>
                <strong>
                    FIXED AND ALL INCLUSIVE SERVICE FEES!!! FURTHER DISCOUNTS MAY APPLY. CONTACT US TODAY!
                </strong>
            </p>
            <p>
                <font size="2">
                    Please Note: Monthly rates will varied from the number of working days in a month. Monthly rate is calculated as (hourly rate) x 40 hours x 52 weeks / 12 months.
                </font>
            </p>
        </div>

        <div class="section card-panel hoverable">

            <div class="row">
                <div class="col s12 m6">

                    <div class="card blue-grey darken-1 center-align">
                        <div class="card-content white-text">
                            <strong>
                                Customer Service | Help Desk | Technical Support | Inbound Sales | Telephone Answering | Virtual Reception
                                | Cellphone Answering | Overflow | After Hours | Medical Answering
                            </strong>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">

                    <div class="card blue-grey darken-1 hoverable center-align">
                        <div class="card-content white-text">
                            <strong>Other kinds are: Appointment Management, Building Maintenance, Direct Response, Disaster Response, Dispatch, Emergency Services, Hotlines, Virtual Receptionist, Order Processing</strong>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <br />

    <hr />

    <br />
    <div class="row">
        <div class="col s12">
            <div class="card-panel hoverable">
                <p align="justify">
                    Our highly skilled agents will enhance your customer's experience when answering their calls. Not only they will show technical expertise in your products or services but highest phone courtesy and extra-ordinary customer service will be given to everybody. No more missed calls and delegation of technical inquiries will be escalated to the proper team when required.
                </p>
                <p align="justify">
                    From experienced this needs to take time depending on the technicality of your products or services so we suggest that we focus on one area of your products that you want us to concetrate on from this service trial.
                </p>
            </div>
        </div>
    </div>
</div>
