<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text">How it works?</h1>
        <div class="row center">
            <h5 class="header col s12 light">OUTBOUND CAMPAIGNS - $14 NZD PER HOUR-PER AGENT</h5>

            <p class="smalltext keywords"> <strong>DAILY $112 ONLY! | WEEKLY $560 ONLY! | MONTHLY $2,426.67 | ANNUALLY $29,120 ONLY! PER AGENT</strong></p>

            <p class="smalltext keywords">
                <strong>
                    FIXED AND ALL INCLUSIVE SERVICE FEES!!!
                </strong>
            </p>
            <p class="smalltext keywords">
                <strong>
                    FURTHER DISCOUNTS MAY APPLY. CONTACT US TODAY!
                </strong>
            </p>
            <p>
                <span class="new badge">Please Note: Monthly rates will varied from the number of working days in a month. Monthly rate is calculated as (hourly rate) x 40 hours x 52 weeks / 12 months.</span>
            </p>
        </div>

        <div class="section card-panel hoverable">

            <div class="row">
                <div class="col s12 m6">

                    <div class="card blue-grey darken-1 center-align">
                        <div class="card-content white-text">
                            <strong>Telesales | Telemarketing | Lead Generations | Surveys | Cold Calling | Market Research | Collection Reminder | Insurance Sales | Selling Products and Services</strong>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">

                    <div class="card blue-grey darken-1 hoverable center-align">
                        <div class="card-content white-text">
                            <strong>Payment Protection | Event Registration | Customer Retention | Loyalty Programs | Appointment Setting  | Warranty Programs | Billing Reminders | Up-selling and Cross Selling</strong>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <br />

    <hr />

    <br />
    <div class="row col s12 card-panel hoverable">
        <p align="justify">
            Our experienced agents will generate interest for your products or services, while creating opportunity by providing information and factors customer's feedbacks. We will also be able to schedule appointments and produce leads by calling your client list. On the other hand our experience sales agents can study your products and services and directly sell it over the phone.
        </p>
        <p align="justify">
            From experienced an agent can call 100 to 150 contacts on an 8hr shift and can schedule 5-10 appointments/sales per day. These numbers varies from the complexity of the projects.
        </p>
    </div>
</div>