
@{
    ViewBag.Title = "Foundation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text">Our Foundation</h1>
        <div class="row center">
            <h5 class="header col s12 light">Success is based on action, and actions are the result of beliefs.</h5>
        </div>
    </div>
</div>

<div class="section">
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m3">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Philippines Operations</h5>
                <p class="light">
                    Philippines is a strategic location to outsource your call centre.
                    It has a highly developed business environment and 92% of the Philippines 104 Million people are English speaking.
                    You will have access to over 450k skilled graduates annually for any of your outsourcing needs.
                </p>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                <h5 class="center">User Experience Focused</h5>
                <p class="light">
                    We will always treat our customers right<br />
                    Respect always for your customers<br />
                    Always ready to listen<br />
                    Offer ongoing support<br />
                    Our experienced team are experts in handling irate calls and can easily adjust to any environment
                </p>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Cost & Savings</h5>
                <p class="light">
                    Reduce costs on staffing, recruitment, training, infrastructure like software, servers and
                    telephony. It turns a significant fixed cost into a variable cost: skilled labour is there when
                    you need it.
                </p>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Competent leaders</h5>
                <p class="light">
                    We have very competent owners and leaders that will be able to produce multi-skilled
                    teams that are capable of dealing with more than one task at a same time.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>




<div class="section card-panel">
    <h1 class="header center orange-text">Our Strategy</h1>
    <div class="row">
        <div class="col s12 m7">

            <div class="card-content black-text">
                <p class="light">
                    We have a working strategy that is based on good working relationship with our clients. Our building foundation revolves around your feedback, at the end of the day we are representing your products or services and we will make sure that we do it right. By doing this we are helping each other to grow and attract more customers in the process
                </p>
                <br /><br /><br /><br /><br /><br />
                <img src="~/images/status.PNG" class="responsive-img" alt="Call centre updates" title="How to have an effective communication"/>
            </div>
        </div>
        <div class="col s12 m5">
            <img class="responsive-img" src="~/images/strategy.PNG" alt="Effective and efficient call cetre strategy" title="Strategy for an effective call centre partnership">
        </div>

    </div>
</div>
<div class="divider"></div>


@{
    Html.RenderPartial("_Contact");
}